<% provide(:title, "Sign up") %>
<div class="max-w-md mx-auto">
  <%= form_with(model: @user) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="flex flex-col gap-y-1">
      <div class="grid grid-cols-2 gap-2 items-center">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'rounded-md w-full form-control' %>
      </div>
      <div class="grid grid-cols-2 gap-2 items-center">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'rounded-md w-full form-control' %>
      </div>
      <div class="grid grid-cols-2 gap-2 items-center">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'rounded-md w-full form-control' %>
      </div>
      <div class="grid grid-cols-2 gap-2 items-center">
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'rounded-md w-full form-control' %>
      </div>
      <%= f.submit "Create my account", class: "btn-primary mt-4 self-center" %>
    </div>
  <% end %>
</div>